# Old
django  # Fundamental
django-polymorphic
psycopg2-binary  # For PostgreSQL
django-dbbackup  # For backups
django-storages[s3]  # For backups
django-extensions  # For 'manage.py graph_models'
pydotplus  # For 'manage.py graph_models'

# New
alembic  # Database migrations
argon2-cffi  # Password hasher
black  # Code formatter, used by Alembic
click  # Command-line parsing
fastapi  # API framework
httpx  # For unit testing: https://fastapi.tiangolo.com/tutorial/testing/
lark  # Text parsing (for exercise adaptation)
pyhumps  # Convert between cases
pyjwt  # For authentication tokens
python-multipart  # OAuth2 authentication uses multipart
sqids  # Opaque IDs
sqlalchemy  # Database ORM
sqlalchemy-utils  # Database utilities
uvicorn[standard]  # ASGI server
